<html>
    <head>
        <title>Messages</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>

        <header><h1>Welcome to Message Board</h1></header>


        <div class="row">

            <div class="col-md-3 searchby">

                <h3>Search by Tags</h3>
                {% for tag in all_tags %}
                    <a href="/messages/{{ tag.getId }}"><li class="glyphicon glyphicon-tags"> {{ tag.getName }}</li></a> <br>
                {% endfor %}

                <hr size="1">

                    <form action="/user_messages" method="post">

                        <h3>Search by Users</h3>

                        <select class='select form-control' name='user' type='text'>
                            {% for user in users %}
                                <option value="{{ user.getId }}"> {{ user.getName }} </option>
                            {% endfor %}
                        </select>

                        <button type="submit" class="btn btn-info btn_view_posts">View posts</button>

                    </form>

                    <hr size="1">

                    <a href="/logout" class='button'><button class="btn btn-primary">Log out</button></a>


                </div>


            <div class="col-md-8 col-md-offset-4 newpost">

                     <h3>NEW POST</h3>

                    <form action="/add_message" method="post">

                            <input type="hidden" name="user_id" value="{{ user.getId }}">
                            <label for="message">Select a tag :</label> <br>
                            <select name='tag' type='text'>
                              {% for tag in all_tags %}
                                <option value="{{ tag.getId }}"> {{ tag.getName }} </option>
                              {% endfor %}
                            </select> <br>
                            <label for="message" class='label_message'>Message :</label> <br>
                            <textarea rows="4" class='textarea' name='message'> </textarea>

                            <button type="submit" class='btn btn-warning btn_add_message'>Add Message</button>
                    </form>

                </div>

            </div>


            <div class="col-md-8 col-md-offset-4">

                <hr size="1">


                {% if messages is not empty %}

                    {% for message in messages %}

                    <h3 id="users_name">{{ message.getUserName }}</h3>
                    <p id="date">{{ message.getTheDate }}</p>

                    {% if message.getTags is not empty %}

                        {% for tag in message.getTags %}

                            <h4 id="tag_name"> - {{ tag.getName() }} -</h4>

                        {% endfor %}

                    {% endif %}


                    <textarea rows="3" name='message' id="textarea_post" class='textarea' disabled>{{ message.getMessage }}</textarea>

                    <hr size="1">

                    {% endfor %}


                {% else %}

                    <h3>No Messages were found for {{ user.getName() }}.</h3>

                {% endif %}

            </div>


    </body>
</html>
