<html>
<head>
  <title>Messages</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
  <nav class="navbar navbar-fixed-top">
    <div class="container">
      <form class="navbar-form navbar-left" action="/user_messages" method="post">
        <div class="form-group">
          <label for="search_user">User Search:</label>
          <select class="form-control" id="search_user" name='user'>
            {% for user_message in users %}
              <option value="{{ user_message.getId }}"> {{ user_message.getName }} </option>
            {% endfor %}
          </select>

        </div>

        <button type="submit" class="btn btn-default">Search</button>
      </form>

      <a class="btn btn-default navbar-btn navbar-left" href="/messages">View All</a>

      <!-- end user messages -->

      <ul class="nav navbar-left">

        <p class="navbar-text"><strong>Tags:</strong>
          {% for tag in all_tags %}

            {% if tag.getName == 'Bar' %}
              <a href="/messages/{{ tag.getId }}"><span class="glyphicon glyphicon-glass"></span>{{ tag.getName }}</a>
            {% elseif tag.getName == 'Work meeting' %}
              <a href="/messages/{{ tag.getId }}"><span class="glyphicon glyphicon-user"></span>{{ tag.getName }}</a>
            {% elseif tag.getName == "Meet up" %}
              <a href="/messages/{{ tag.getId }}"><span class="glyphicon glyphicon-calendar"></span>{{ tag.getName }}</a>
            {% elseif tag.getName == "Hiking" %}
              <a href="/messages/{{ tag.getId }}"><span class="glyphicon glyphicon-tree-conifer"></span>{{ tag.getName }}</a>
            {% else %}
              <a href="/messages/{{ tag.getId }}"><span class="glyphicon glyphicon-tag"></span>{{ tag.getName }}</a>

            {% endif %}
          {% endfor %}
        </p>
      </ul>
      <!-- end tags -->

      <ul class="nav navbar-right">
        <p class="navbar-text">
          Signed in as {{ user.getName() }} | <a href="/logout">Logout</a>
        </p>
      </ul>
    </div>
  </nav>
  <!-- end nav -->

  <header><h1><span class="glyphicon glyphicon-send"></span>MessageBoard</h1></header>

  <div class="container">
    <div class="row">

      <div id="form" class="col-md-12 text-center">
        <form class="form-inline" action="/add_message" method="post">
          <input type="hidden" name="user_id" value="{{ user.getId }}">
          <div class="form-group">
            <label for="message">Tag:</label>
            <select name="tag" type="text" class="form-control">
              {% for tag in all_tags %}
                <option value="{{ tag.getId }}">{{ tag.getName }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group wider">
            <label for="message">Message:</label>
            <textarea rows="3" name="message" class="form-control"></textarea>
          </div>

          <button type="submit" class='btn btn-primary'>Add Message</button>
        </form>
        <!-- end form -->
      </div>

      <div class="col-md-12">

        {% if messages is not empty %}

          {% for message in messages %}

          <div class="post row">

            <div class="post-element col-md-offset-1 col-md-2">
              <p class="date">{{ message.getTheDate }}</p>
              {% if message.getTags is not empty %}

                {% for tag in message.getTags %}

                  <a href="/messages/{{ tag.getId() }}">{{ tag.getName() }}</a>

                {% endfor %}

              {% endif %}
            </div>

            <div class="post-element col-md-6">
              <p class="username">{{ message.getUserName }}</p>
              <textarea rows="3" name="message" disabled="disabled">{{ message.getMessage }}</textarea>
            </div>

            <div class="post-element col-md-1">
              {% if message.getUserName == user.getName %}
                <a class="btn btn-default" title="Edit" href="/messages/{{ message.getMessageId }}/edit"><span class="glyphicon glyphicon-pencil"></span></a>
              {% endif %}
            </div>
          </div>

          {% endfor %}

        {% else %}

          <div class="row">
            <div class="col-md-12 text-center">
              <h3>No messages were found.</h3>
            </div>
          </div>

        {% endif %}

      </div>
      <!-- end content section -->

    </div>
    <!-- end row -->

  </div>
</body>
</html>
