<html>
    <head>
        <title>User messages</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>

            <header><h1><span class="glyphicon glyphicon-send"></span>MessageBoard</h1></header>

            <div class="row">

            <div class="col-md-3 searchby">

                <h3 class='hello'>Hello, {{ user.getName }}</h3>
                <hr size="1">

                <h3>Search by Tags</h3>
                {% for tag in all_tags %}
                    <ol >
                    {% if tag.getName == 'Bar' %}
                        <a href="/messages/{{ tag.getId }}"><li><span class="glyphicon glyphicon-glass"></span>{{ tag.getName }}</li></a><br>
                    {% elseif tag.getName == 'Work meeting' %}
                        <a href="/messages/{{ tag.getId }}"><li><span class="glyphicon glyphicon-user"></span>{{ tag.getName }}</li></a><br>
                    {% elseif tag.getName == "Meet up" %}
                        <a href="/messages/{{ tag.getId }}"><li><span class="glyphicon glyphicon-calendar"></span>{{ tag.getName }}</li></a><br>
                    {% elseif tag.getName == "Hiking" %}
                        <a href="/messages/{{ tag.getId }}"><li><span class="glyphicon glyphicon-tree-conifer"></span>{{ tag.getName }}</li></a><br>


                    {% else %}
                        <a href="/messages/{{ tag.getId }}"><li><span class="glyphicon glyphicon-tag"></span>{{ tag.getName }}</li></a> <br>

                    {% endif %}
                    </ol>
                {% endfor %}

                <hr size="1">

                    <form action="/user_messages" method="post">

                        <h3>Search by Users</h3>

                        <select class='select form-control' name='user' type='text'>
                            {% for user_message in users %}
                                <option value="{{ user_message.getId }}"> {{ user_message.getName }} </option>
                            {% endfor %}
                        </select>

                        <button type="submit" class="btn btn-info btn_view_posts">View posts</button>

                    </form>

                        <a class="btn btn-default btn-view-all" href="/messages">View All</a>

                    <hr size="1">

                    <a href="/logout" class='button'><button class="btn btn-primary">Log out</button></a>


                </div>


            <div class="col-md-8 col-md-offset-4 post">

                <h3>EDIT THIS MESSAGE</h3>

                <div class='content_edit'>

                    <form action="/messages/{{ message.getMessageId }}" method="post">

                        <h4 class="message_edit">Message : " <em>{{ message.getMessage }}</em> "</h4>

                        <input name="_method" type="hidden" value="patch">

                        <label for="message">Edit your message:</label> <br>
                        <textarea rows="4" class='textarea_edit' name='message'>{{message.getMessage}}</textarea>

                        <button type="submit" class='btn btn-warning btn_edit_message'>Update</button>
                    
                    </form>
                    
                    <a href="/messages"><button type="submit" class='btn btn-info btn_edit_home'>Home</button></a>

                </div>

            </div>

    </body>
</html>
