<html>
    <head>
        <title>Tags</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>

        <header><h1><span class="glyphicon glyphicon-send"></span>MessageBoard</h1></header>

        <div class="row">

            <div class="col-md-3 searchby">

                <h3 class='hello'>Hello, {{ user.getName }}</h3>
                <hr size="1">

                <h3>Search by Tags</h3>
                {% for tag in all_tags %}
                    <ol >
                    {% if tag.getName == 'Bar' %}
                        <a href="/messages/{{ tag.getId }}"><li><span class="glyphicon glyphicon-glass"></span>{{ tag.getName }}</li></a><br>
                    {% elseif tag.getName == 'Work meeting' %}
                        <a href="/messages/{{ tag.getId }}"><li><span class="glyphicon glyphicon-user"></span>{{ tag.getName }}</li></a><br>
                    {% elseif tag.getName == "Meet up" %}
                        <a href="/messages/{{ tag.getId }}"><li><span class="glyphicon glyphicon-calendar"></span>{{ tag.getName }}</li></a><br>
                    {% elseif tag.getName == "Hiking" %}
                        <a href="/messages/{{ tag.getId }}"><li><span class="glyphicon glyphicon-tree-conifer"></span>{{ tag.getName }}</li></a><br>


                    {% else %}
                        <a href="/messages/{{ tag.getId }}"><li><span class="glyphicon glyphicon-tag"></span>{{ tag.getName }}</li></a> <br>

                    {% endif %}
                    </ol>
                {% endfor %}

                <hr size="1">

                <a href="/messages" class='button'><button class="btn btn-info">Home</button></a>

            </div>

        </div>

        <div class="col-md-8 col-md-offset-4">

            <p class='tag_name'>{{ tag.getName }}</p>

            {% if messages is not empty %}

                {% for message in messages %}


                                <p class='tag_user_name'>{{ message.getUserName }}</p>
                                <p class='tag_date'> - {{ message.getTheDate }}</p>
                                <textarea rows="3" class='bg-info tag_textarea' disabled>{{ message.getMessage }}</textarea>

                                <hr size="1">

                {% endfor %}

                {% else %}

                <h3>That tag has no messages.</h3>

            {% endif %}

        </div>

    </body>
</html>
