<html>
    <head>
        <title>Tags</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>

        <header><h1>Welcome to Message Board</h1></header>

        <div class="row">

            <div class="col-md-3 searchby">

                <h3>Search by Tags</h3>
                {% for tag in tags %}
                <a href="/messages/{{ tag.getId }}"><li class="glyphicon glyphicon-tags"> {{ tag.getName }}</li></a> <br>
                {% endfor %}

                <hr size="1">

                <a href="/messages" class='button'><button class="btn btn-info">Home</button></a>

            </div>

        </div>

        <div class="col-md-8 col-md-offset-4">

            <p class='tag_name'>{{ tag.getName }}</p>

            {% if messages is not empty %}

                {% for message in messages %}


                                <p class='tag_user_name'>{{ user.getName }}</p>
                                <p class='tag_date'> - {{ message.getTheDate }}</p>
                                <textarea rows="3" class='bg-info tag_textarea' disabled>{{ message.getMessage }}</textarea>

                                <hr size="1">

                {% endfor %}

                {% else %}

                <h4>No message for that tag.</h4>

            {% endif %}

        </div>

    </body>
</html>
