<html>
    <head>
        <title>User messages</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    </head>
    <body>
        <form action="/user_messages">

            <h3>Users</h3>

            <select name='user' type='text'>
                {% for user in users %}
                    <option value="{{ user.getId }}"> {{ user.getName }} </option>
                {% endfor %}
            </select>

            <button type="submit">View posts</button>

            <a href="/">Home</a>

        </form>

        {% if messages is not empty %}

            {% for message in messages %}

            <h3>{{ user.getName }}</h3>
            <p>{{ message.getTheDate }}</p>

            {% if message.getTags is not empty %}

                {% for tag in message.getTags %}

                    <p>{{ tag.getName() }}</p>
                {% endfor %}

            {% endif %}

            <textarea rows="4" cols="50" name='message'>{{ message.getMessage }}</textarea>

            {% endfor %}

        {% endif %}

    </body>
</html>
